{%extends 'index.html'%}
{%block body_block%}

 <div class="row-2">


            {%if messages%}
                {%for msg in messages%}
                    {%if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>"{{msg}}"</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
            {%endif%}

                    {%if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
                      <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>"{{msg}}"</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
            {%endif%}
                {%endfor%}
            {%endif%}


  </div>
<div class="container border border-dark mt-5">
  <div class="row-8 ">
    <table class="table">
      <tr>
        <th>EMPLOYEE ID</th>
        <th>EMPLOYEE NAME</th>
        <th>EMAIL</th>
      </tr>
      {%for emp in employees%}
      <tr>
        <td>{{emp.eid}}</td>
        <td>{{emp.emp_name}}</td>

        <td>
          <a href="{%url 'emp-detail' emp.eid%}">view</a>
          <a href="{%url 'emp-edit' emp.eid%}">edit</a>
          <a href="{%url 'emp-del' emp.eid%}">delete</a>
        </td>
      </tr>
      {%endfor%}
    </table>
  </div>
  <div class="row-2"></div>
    </div>

{%endblock%}